<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Cucumber tests" parallel="tests">
    <test name="Test runner1">
        <classes>
            <class name="runner.TestNGTestRunner"/>
        </classes>
    </test>
</suite>